  /* style.css */
  h1 
  {
    font-family: fantasy;
    font-size: 90px;
    border: 10px groove black;
    text-align: center;
    background-image: url('https://poggers.com/cdn/shop/articles/fc64a40b3ed3c4376efe7af987465770_1216x684_crop_center.webp?v=1723676903');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
  }
   
  p
  {
    font-size: 25px;
    font-family: fantasy;
    border: 10px ridge silver;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  p2
  {
    background-image: url('https://poggers.com/cdn/shop/articles/fc64a40b3ed3c4376efe7af987465770_1216x684_crop_center.webp?v=1723676903');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }
  
  a
  {
    color: black;
    font-family: fantasy;
  }

  html{
    background: url(JogoDomain.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .center
      {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }
  
  img 
  {
      border: 55px ridge orangered;
  }
  